.MButton {
    right: 25%;
    bottom: 25%;
    border: solid rgb(155, 117, 90);
    position: absolute;
    border-radius: 10px;
    border-style: dotted;
    background-color: rgb(221, 184, 124);
}

.MButton:hover {
    cursor: pointer;
}

.MButton::before {
    background-color: rgb(155, 117, 90);
    top: 46.5%;
    left: 25%;
    width: 50%;
    height: 7%;
    position: absolute;
    content: " ";
}

.MButton::after {
    background-color: rgb(155, 117, 90);
    left: 46.5%;
    top: 25%;
    height: 50%;
    width: 7%;
    position: absolute;
    content: " ";
}