.dElement {
    position: relative;
    top: -14vh;
    left: 50%;
    transform: translate(-50%, 0);
    height: 5vh;
    margin-bottom: 1vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: solid black;

    font-size: 2.5vh;
    font-family: "Advent Pro";
    border-radius: 0.75vh;

    transition: opacity 0.75s linear 0s, visibility 0s linear 0.75s;
    visibility: hidden;
    opacity: 0;
}

.dElement.visible {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
}

.dElement:hover {
    cursor: default;
}

@keyframes appear {

}